# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
debug.log

# Database
*.sqlite
*.db
dump.sql

# OS-specific files
.DS_Store
Thumbs.db

# Editor & IDE files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
